<div class="search help">
  <dl>
    <dt>Name:</dt>
    <dd><a href="/search?q=Birds+of+Paradise">Birds of Paradise</a></dd>
    <dd><a href="/search?q=%22Birds+of+Paradise%22">"Birds of Paradise"</a></dd>
    <dd><a href="/search?q=%21Anger">!Anger</a> (Match the full name)</dd>

    <dt>Rules Text (<u>O</u>racle):</dt>
    <dd><a href="/search?q=o%3AFlying">o:Flying</a></dd>
    <dd><a href="/search?q=o%3A%22First+strike%22">o:"First strike"</a></dd>
    <dd><a href="/search?q=o%3A%7BT%7D+o%3A%22add+one+mana+of+any+color%22">o:{T} o:"add one mana of any color"</a></dd>
    <dd><span class="addition">(new)</span> <a href="/search?q=o%3A%22whenever+%7E+deals+combat+damage%22">o:"whenever ~ deals combat damage"</a></dd>

    <dt><u>T</u>ypes (Oracle):</dt>
    <dd><a href="/search?q=t%3Aangel">t:angel</a></dd>
    <dd><a href="/search?q=t%3A%22legendary+angel%22">t:"legendary angel"</a></dd>
    <dd><a href="/search?q=t%3Abasic">t:basic</a></dd>
    <dd><a href="/search?q=t%3A%22arcane+instant%22">t:"arcane instant"</a></dd>

    <dt><u>C</u>olors:</dt>
    <dd><a href="/search?q=c%3Aw">c:w</a> (Any card that is white)</dd>
    <dd><a href="/search?q=c%3Awu">c:wu</a> (Any card that is white or blue)</dd>
    <dd><a href="/search?q=c%3Awum">c:wum</a> (Any card that is white or blue, and multicolored)</dd>
    <dd><a href="/search?q=c%21w">c!w</a> (Cards that are only white)</dd>
    <dd><a href="/search?q=c%21wu">c!wu</a> (Cards that are only white or blue, or both)</dd>
    <dd><a href="/search?q=c%21wum">c!wum</a> (Cards that are only white and blue, and multicolored)</dd>
    <dd><a href="/search?q=c%21wubrgm">c!wubrgm</a> (Cards that are all five colors)</dd>
    <dd><a href="/search?q=c%3Am">c:m</a> (Any multicolored card)</dd>
    <dd><a href="/search?q=c%3Al+or+c%3Ac">c:l or c:c</a> (Lands and colorless cards)</dd>

    <dt><u>Mana</u> Cost:</dt>
    <dd><a href="/search?q=mana%3D3G">mana=3G</a> (Spells that cost exactly 3G, or split cards that can be cast with 3G)</dd>
  </dl>
</div>
