<h1><img ng-show="mtg_set.icon" ng-src="{{ mtg_set.icon }}" width=32 class="icon" />{{ mtg_set.name }}</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Type</th>
      <th>Mana</th>
      <th>Rarity</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="card in mtg_set.cards">
      <td>{{card.number}}</td>
      <td><a ui-sref="mtg.sets.show.card({code: mtg_set.code, lang: 'en', number: card.number})">{{card.name}}</a></td>
      <td>{{card.type_text}}</td>
      <td>{{card.mana_cost}}</td>
      <td>{{card.rarity}}</td>
      <td>{{card.artist}}</td>
    </tr>
  </tbody>
</table>
