%ul
  - if @card.previous_card
    %li
      ←
      = link_to @card.previous_card.name, @card.previous_card.url
  %li
    = link_to @card.set_name, @card.set_url
  - if @card.next_card
    %li
      = link_to @card.next_card.name , @card.next_card.url
      →
= render :partial => 'card', :object => @card
